/*@font-face {
  font-family: 'default-font';
  src: url('/Roboto-Light.ttf');
}*/

HTML, BODY {
  height: 100%;
  }

BODY {
  padding: 0px;
  margin: 0px auto;
  /*font-size: 10pt;
  font-family: default-font;*/
  background: white;
  color: black;
}

INPUT[type=text] {
  border: solid #C0C0C0 1px;
  height: 1.8em;
  padding: 0 2px;
}

INPUT[type=password] {
  border: solid #C0C0C0 1px;
  height: 1.8em;
  padding: 0 2px;
}

INPUT[type=text]:focus {
  border: solid gray 1px;
}

INPUT[type=button] {
  font-size: 80%;
}

INPUT[type=submit] {
  font-size: 80%;
}


/*INPUT {
  border: solid gray 1px;
  background: white;
  color: black;
}*/

/*INPUT[type=submit] {
  border: solid black 1px;
  cursor: pointer;
  box-shadow: 0 0 4px gray;
}*/

/*INPUT[type=submit]:hover {
  background: #E8E8E8;
}*/

#login {
  width: 10em;
  margin-bottom: 8px;
}

#password {
  width: 10em;
  margin-bottom: 8px;
}

A {
  text-decoration: none;
}

A:link {
  color: #4765BF;
}

A:visited {
  color: #6547BF;
}

P {
  margin-bottom: 0;
  margin-top: 0.75em;
}

H1,H2,H3,H4,H5,H6 {
  margin-bottom: 0;
}

H1,H2 {
  letter-spacing: 1px;
  padding: 0.2em 0.1em;
  border-bottom: solid 1px #D8D8D8;
  font-weight: normal;
}

CODE {
  /*background: #F0F0F0;*/
  /*padding: 0px 1px;*/
  display: inline;
}

PRE {
  /*background: #F0F0F0;*/
  display: inline-block;
  padding: 1em 8px;
  margin: 0px;
  margin-top: 0.75em;
  border-left: solid #D8D8D8 2px;
  white-space: pre-wrap;
}

HR {
  margin-top: 0.75em;
  margin-left: -8px;
  margin-right: -8px;
  padding: 0px;
  height: 1px;
  border: none;
  border-top: solid #D8D8D8 1px;
}

PRE HR {
  margin-bottom: -0.75em;
}

TABLE.table, TABLE.error {
  border-bottom: solid #D8D8D8 1px;
  border-right: solid #D8D8D8 1px;
  padding: 0px;
  margin-top: 0.75em;
  border-spacing: 0;
  empty-cells: show;
}

TABLE.table > TBODY > TR > TD, TABLE.error > TBODY > TR > TD {
  border-top: solid #D8D8D8 1px;
  border-left:  solid #D8D8D8 1px;
  padding: 3px 6px;
  vertical-align: top;
}

TABLE.table > TBODY > TR > TH, TABLE.error > TBODY > TR > TH {
  border-top: solid #D8D8D8 1px;
  border-left:  solid #D8D8D8 1px;
  padding: 3px 6px;
  text-align: left;
}

TABLE.desc {
  border: solid #D8D8D8 2px;
  border-collapse: collapse;
  padding: 0px;
  margin-top: 0.75em;
  border-spacing: 0;
  empty-cells: show;
}

TABLE.desc > TBODY > TR > TD {
  border: none;
  padding: 6px 12px;
}

TABLE.desc > TBODY > TR > TH {
  text-align: left;
  border: none;
  padding: 6px 12px;
}

.header {
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  background: #F0F0F0;
  /*background: #DFA36F;
  border-top: solid 3px #DF6B00;
  border-bottom: solid 4px #DF6B00;*/
}

.header-inside {
  /*max-width: 800px;
  margin: 0 auto;*/
  padding: 2px 4px;
  /*background: #E8E8E8;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 0 0 8px gray;*/
}

.header-inside-v {
  max-width: 800px;
  margin: 0 auto;
  background: #E8E8E8;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  padding: 2px 16px 4px;
  box-shadow: 0 0 8px gray;
}

.header-bar {
  /*margin-top: 4px;*/
}

.title {
  display: inline-block;
  color: gray;
}

.title A:link {
  color: gray;
}

.title A:visited {
  color: gray;
}

.title-v {
  font-size: 75%;
  color: gray;
}

.page {
  padding: 4px 8px;
  max-width: 800px;
  /*margin: 0 auto;*/
  position: relative;
  top: 1.5em;
}

.page-edit {
  /*padding: 4px 8px;*/
  /*max-width: 800px;
  margin: 0 auto;*/
  position: absolute;
  top: 2.5em;
  bottom: 0;
  left: 0;
  right: 0;
}

.unknown {
  color: red;
  margin-top: 8px;
}

DIV.error {
  color: red;
  /*text-shadow: red 0 0 1px;*/
  padding: 2px 6px;
  background: url('<%/%>/error-bg.png');
}

DIV.message {
  color: red;
  font-style: italic;
}

.command {
  display: inline-block;
  margin-left: 8px;
  vertical-align: top;
}

#lang {
  font-size: 80%;
  margin-right: 4px;
  margin-left: 4px;
}

.up {
  display: inline-block;
  vertical-align: middle;
  padding: 2px;
}

.edit-frame {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 4px;
  border-top: solid 2px #D8D8D8;
}

.edit {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
}

DIV.table {
  margin-top: 0.75em;
  }
  
DIV.box {
  display: inline-block;
  border: solid #D8D8D8 1px;
  border-radius: 8px;
  padding: 8px;
}

DIV.info {
  display: inline-block;
  border: solid #D8D8D8 1px;
  border-radius: 8px;
  padding: 8px;
  padding-left: 48px;
  background: url('<%/%>/info.png') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.warning {
  display: inline-block;
  border: solid #D8D8D8 1px;
  border-radius: 8px;
  padding: 8px;
  padding-left: 48px;
  background: url('<%/%>/warning.png') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.tip {
  display: inline-block;
  border: solid #D8D8D8 1px;
  border-radius: 8px;
  padding: 8px;
  padding-left: 48px;
  background: url('<%/%>/tip.png') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.vb {
  display: inline-block;
  border: solid #D8D8D8 1px;
  border-radius: 8px;
  padding: 8px;
  padding-left: 48px;
  background: url('<%/%>/vb.png') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.critical {
  display: inline-block;
  border: solid #D8D8D8 1px;
  border-radius: 8px;
  padding: 8px;
  padding-left: 48px;
  background: url('<%/%>/critical.png') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.example, DIV.seealso {
  display: inline-block;
  border: none;
  padding: 0px;
}

TEXTAREA {
  font-family: monospace;
}

TABLE.index {
  border: none;
  padding: 0px;
  margin-top: 0.75em;
}

TABLE.index TD {
  border: none;
  padding: 1px 6px;
  vertical-align: baseline;
}

DIV.index {
  display: inline-block;
  font-size: 85%;
  padding: 0;
  margin-top: 0.75em;
}

/*------------------------------------------------------------------*/

/*DIV.example:before {
  content: 'Example';
  display: block;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0.75em;
}*/

DIV.syntax {
  display: inline-block;
  border: solid #D8D8D8 2px;
  padding: 4px 8px;
  font-family: monospace;
  white-space: pre-wrap;
}

DIV.syntax > P:last-child {
  margin-bottom: -0.75em;
}

DIV.since {
  display: inline-block;
  background: #FF8080;
  color: white;
  font-weight: bold;
  border: solid 1px red;
  padding: 1px 6px;
  text-transform: uppercase;
  font-size: 80%;
}

.letter {
  font-weight: bold;
  font-size: larger;
  vertical-align: baseline;
}

TR {
  vertical-align: top;
}

TABLE.no-border {
  margin: 0;
  margin-top: 0.75em;
  border: none;
}

TABLE.no-border > TBODY > TR > TD {
  border: none;
}

TABLE.no-border > TBODY > TR > TH {
  border: none;
}

.symbol {
  color: black;
}

TABLE.symbols > TBODY > TR > TH {
  text-align: left;
  vertical-align: top;
  padding-right: 16px;
  padding-top: 16px;
}

TABLE.symbols > TBODY > TR > TD {
  vertical-align: top;
  padding-right: 16px;
}

TABLE.full {
  width: 100%
}

UL, OL {
  padding-left: 2em;
  margin-bottom: 0;
  /*margin-top: 0.75em;*/
}

P:first-child,UL:first-child,OL:first-child,TABLE:first-child {
  margin-top: 0;
}

H1:first-child {
  margin-top: 0;
}

DIV.table:first-child {
  margin-top: 0;
}

DIV.syntax > P:first-child {
  margin-top: -0.75em;
}

.login {
  position: absolute;
  background: white;
  border: solid 2px gray;
  padding: 1em;
  width: 24em;
  z-index: -1;
  text-align: center;
  right: 1em;
  top: 3em;
}

.login-glue {
  position: absolute;
  margin: 0 auto;
  width: 24em;
  padding: 1px 22px;
  background: #E8E8E8;
  z-index: 10;
  margin-top: -24px;
  margin-left: -6px;
}

.label-login {
  display: inline-block;
  margin-left: 0.5em;
  width: 8em;
  height: 1.5em;
}

#user {
  width: 12em;
}

#ok,#cancel {
  margin-top: 8px;
  width: 8em;
  }
  
#register {
  width: 8em;
}

.hide-if-compact {
  display: none;
}
.show-if-compact {
  display: inherit;
}

/*@media (min-width: 120em) {
  .login {
    position: fixed;
    top: 32px;
    left: 32px;
    margin: 0px;
  }
  .hide-if-compact {
    display: inherit;
  }
  .show-if-compact {
    display: none;
  }
}*/

.inherit {
  color: #C0C0C0;
}

.tooltip {
  display: none;
  position: absolute;
  margin-top: 2em;
  margin-left: 0em;
  pointer-events: none;
  width: 20em;
}

.tooltip-activator {
  display: inline-block;
  padding: 0;
}

.tooltip-activator:hover .tooltip {
  display: inline;
}

.tooltip-contents {
  display: inline-block;
  border: solid 1px gray;
  padding: 0.2em 0.5em;
  background: #FFFFDF;
  box-shadow: 0 0 4px gray;
}

